.dashboard-body {
  margin-top: 20px;
}

.pxl {
  padding: 40px;
}

.lazurbg {
  background-color: #23c6c8;
  color: #ffffff;
}

.redbg {
  background-color: #ed5565;
  color: #ffffff;
}

.navybg {
  background-color: #1ab394;
  color: #ffffff;
}

.yellowbg {
  background-color: #f8ac59;
  color: #ffffff;
}

.widget {
  border-radius: 5px;
  padding: 15px 20px;
  margin-bottom: 10px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
}

.widget h2,
.widget h3 {
  margin-top: 5px;
  margin-bottom: 0;
  border-bottom: 1px dotted white;
}

.mtmd {
  margin-top: 20px;
}
