::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.nav-link {
  border-radius: 0px !important;
  transition: all 0.5s;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.nav-link small {
  font-size: 12px;
}

.nav-link:hover {
  background-color: #52525240 !important;
}

.nav-link .fa {
  transition: all 1s;
  font-size: 20px;
}

.nav-link:hover .fa {
  transform: rotate(360deg);
}
